.d1
{
  background-color: tomato;
  height: 850px;
  width: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.d2
{
  background-color: orange;
  height: 150px;
  width: 900px;
  position: absolute;
  top: 0px;
  left: 150px;
}
.d3
{
  background-color: dodgerblue;
  height:700px;
  width: 150px;
  position: absolute;
  top:150px;
  left: 150px;
}
.d4
{
  background-color: mediumseagreen;
  height: 150px;
  width: 750px;
  position: absolute;
  top: 150px;
  left: 300px;
}
.d5
{
  background-color: gray;
  height: 550px;
  width: 150px;
  position: absolute;
  top: 300px;
  left: 300px;
}
.d6
{
  background-color: slateblue;
  height: 150px;
  width: 600px;
  position: absolute;
  top: 300px;
  left: 450px;
}
.d7
{
  background-color:violet;
  height: 400px;
  width: 150px;
  position: absolute;
  top: 450px;
  left: 450px;
}
.d8
{
  background-color: lightgray;
  height: 150px;
  width: 450px;
  position: absolute;
  top: 450px;
  left: 600px;
}
.d9
{
  background-color: pink;
  height: 250px;
  width: 150px;
  position: absolute;
  top: 600px;
  left: 600px;
}
.d10
{
  background-color: red;
  height: 150px;
  width: 300px;
  position: absolute;
  top: 600px;
  left: 750px;
}
.d11
{
  background-color: yellow;
  height: 100px;
  width: 300px;
  position: absolute;
  top: 750px;
  left: 750px;
}
